<!doctype html>
<link rel=stylesheet href=../assets/styles/index.css>
<title>Account</title>


<div class="left__panel">

  <div class="account__container">
    <a href="<%= user._id %>">
      <% if (user.profilePhoto) { %>
      <img class="account__image" alt src="../assets/upload/<%= user.profilePhoto %>">
      <% } else {%>
      <img class="account__image" alt src="../assets/images/user.png">
      <% } %>
    </a>
    <a href="<%= user._id %>">
      <h2 class="account__name">
        <%= user.name %>
      </h2>
    </a>
  </div>

  <div class="container">
    <ul class="switcher__container">
      <li id="switch__titleBeers" onclick="slideleft()" class="switch__title active">Beers you like</li>
      <li id="switch__titleMessage" onclick="slideright()" class="switch__title">Messages</li>
    </ul>

    <div id="userBeerList" class="userBeerList">
      <% if (user.beerProfile) { %>
      <% for (let index = 0; index < Object.keys(user.beerProfile).length; index++) {
        let userBeer = Object.values(user.beerProfile)[index]
        %>
      <% if (userBeer) { %>
      <li class="beer">
        <img class="beer__image" src="<%- userBeer.img %>" alt="<%- userBeer.name %>">
        <div class="beer__info">
          <h4 class="info__title">
            <%= userBeer.name %>
          </h4>
          <p class="info__text">
            <%= userBeer.description %>
          </p>
        </div>
      </li>
      <% } else {%>

      <% } %>
      <% } %>
      <a class="addbeer__button" href="/add-beer"><button type="button" name="button">Add beer</button></a>
      <% } else {%>
      <a class="addbeer__button" href="/add-beer"><button type="button" name="button">Add your first beer</button></a>
      <% } %>

    </div>


    <div id="matchesList" class="matches__container">
      <% if (user.match) { %>

      <% } else {%>
      <li class="match">
        <p>Start adding beers and swiping</p>
      </li>
      <% } %>
    </div>

  </div>

</div>

<div class="right__panel">

  <form action="/:id" method="post" enctype=multipart/form-data> <input type="text" name="name" value="<%- user.name %>">
    <input name=photo type=file accept=image/*>
    <button type="submit" name="button">change</button>
  </form>

  <a href=/log-out>Log out</a> </div>
