<section class="search__container">
  <form id="beer__search" action="/search-beer" class="beer__search" method="post">
      <input type="text" name="beerName" id="searchName" placeholder="Search for a beer">
      <button type="submit" name="button">Search</button>
  </form>
</section>


<section class="recent__container" >
  <h2 class="recent__title">Recent beers</h2>

  <div class="beers__list">

  <% if (user.beers.length > 0) { %>
    <% for(let i = user.beers.length - 1; i >= user.beers.length - 4; i--) { %>
      <div class="beer__container" style="background-image: url(<%- user.beers[i].beer.img %>)">
        <div class="beer__info">
          <h4 class="info__title">
            <%= user.beers[i].beer.name %>
          </h4>
          <p class="info__text">
            <%= user.beers[i].beer.bid %>
          </p>
        </div>
      </div>
    <% } %>
  <% } %>

    </div>
</section>

<section id="matchesList" class="matches__container--short">
  <h2 class="recent__title">Recent activities</h2>
  <ul class="matchUl">
  <% if (matchList.length > 0) { %>
    <% for(let i = 0; i < matchList.length; i++) { %>
      <li class="user">
            <img src="<%= matchList[i].image %>" alt="<%= matchList[i].firstName %>">
            <h4 class="user__name">
              <%= matchList[i].firstName %> <%= matchList[i].lastName %>
            </h4>
          <ul>
            <span>Liked :</span>
            <% for(let j = 0; j < matchList[i].beers.length; j++) { %>
              <li style="background-image: url(<%- matchList[i].beers[j].beer.img %>)">
                <h5><%= matchList[i].beers[j].beer.name %></h5>
              </li>
            <% } %>
          </ul>
      </li>
    <% } %>
  <% } else {%>
  <li class="match">
    <p>Start adding beers and swiping</p>
  </li>
  <% } %>
  </ul>
</section>
