<section id="matchesList" class="matches__container">
  <ul class="matchUl">
  <% if (matchList.length > 0) { %>
    <% for(let i = 0; i < matchList.length; i++) { %>
      <li class="user">
            <img src="<%= matchList[i].image %>" alt="<%= matchList[i].firstName %>">
            <h4 class="user__name">
              <%= matchList[i].firstName %> <%= matchList[i].lastName %>
            </h4>
          <ul>
            <span>Liked :</span>
            <% for(let j = 0; j < matchList[i].beers.length; j++) { %>
              <li style="background-image: url(<%- matchList[i].beers[j].beer.img %>)">
                <h5><%= matchList[i].beers[j].beer.name %></h5>
              </li>
            <% } %>
          </ul>
      </li>
    <% } %>
  <% } else {%>
  <li class="match">
    <p>Start adding beers and swiping</p>
  </li>
  <% } %>
  </ul>
