<div class="account__container">
  <a href="<%= user._id %>">
    <% if (user.profilePhoto) { %>
    <img class="account__image" alt src="/upload/<%= user.profilePhoto %>">
    <% } else {%>
    <img class="account__image" alt src="/images/user.png">
    <% } %>
  </a>
  <a href="<%= user._id %>">
    <h2 class="account__name">
      <%= user.username %>
    </h2>
  </a>
</div>

<div class="container">
  <ul class="switcher__container">
    <li id="switch__titleBeers" onclick="slideleft()" class="switch__title active">Beers you like</li>
    <li id="switch__titleMessage" onclick="slideright()" class="switch__title">Messages</li>
  </ul>

  <div id="userBeerList" class="userBeerList">

    <% if (user.beers.length > 0) { %>
    <% for(let i = 0; i < user.beers.length; i++) { %>
    <li class="beer">
      <img class="beer__image" src="<%- user.beers[i].beer.img %>" alt="<%- user.beers[i].beer.name %>">

      <div class="beer__info">
        <h4 class="info__title">
          <%= user.beers[i].beer.name %>
        </h4>
        <p class="info__text">
          <%= user.beers[i].beer.description %>
        </p>
      </div>
    </li>
    <% } %>
    <a class="addbeer__button" href="/add-beer"><button type="button" name="button">Add beer</button></a>
    <% } else {%>
    <a class="addbeer__button" href="/add-beer"><button type="button" name="button">Add your first beer</button></a>
    <% } %>

  </div>

  <div id="matchesList" class="matches__container">
  <% if (matchList.length > 0) { %>
    <% for(let i = 0; i < matchList.length; i++) { %>
    <li class="user">
      <div class="user__info">
        <h4 class="user__name">
          <%= matchList[i].username %> <%= matchList[i].lastName %>
        </h4>
        <ul>
          <span>Also liked :</span>
          <% for(let j = 0; j < matchList[i].beers.length; j++) { %>
            <li>
              <h5><%= matchList[i].beers[j].beer.name %></h5>
              <img class="beer__image" src="<%- matchList[i].beers[j].beer.img %>" alt="<%- matchList[i].beers[j].beer.name %>">
            </li>
          <% } %>
        </ul>
      </div>
    </li>
    <% } %>
  <% } else {%>
  <li class="match">
    <p>Start adding beers and swiping</p>
  </li>
  <% } %>
</div>

</div>
